@charset "UTF-8";

body { 
            background-color: rgb(224, 223, 233);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }
        h1 {
            color: rgb(216, 240, 132);
            background-color: rgb(157, 209, 192);
        }
        h2 {
            color: rgb(245, 5, 5);
        }

        p { 
            text-align: justify;

        }
