@charset "UTF-8";

/* em HTML é id = em css é #
   em HTML É class = em css é .
*/

body {
    background-color: aquamarine;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

h1 {
    color: azure;
}

h1#principal {
    color: blue;
    background-color: aliceblue;
    text-align: center;
    
}

h2 {
    color: cadetblue;
}

.basico { 
    color: rgb(106, 106, 168);
    
}

.avançado {
    color: rgb(53, 53, 83);
}

.destaque {
    background-color: rgba(223, 223, 59, 0.774);

}


