@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    background-image: linear-gradient(to left, #3B3936, #B2BEBF, #889C9B, #486966);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 20px #585a5aa9;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{ 
    color: #BD2A2E;
    text-align: center;
    text-shadow: 1px 1px 2px #7c232654;

}

h2 {
    color: #889C9B;
}
p {
    text-align: justify;
}

